

*{

    box-sizing: border-box;
    margin:0px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.titulo{
    font-size: 23px;
    padding-left: 12rem;
    padding-bottom: 2rem;
    padding-top:1rem;
    border-top: solid 3px #3d403b;
}

/*----Barra de navegación----*/
nav{
    background-color:#d8e8eb;
    border-top: solid 2px #3d403b;
    border-bottom: solid 3px#3d403b;  
    padding: 20px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    background-color: #f5f5f5; 
}

nav li{
    margin:5px;
    font-size: 22px;
}

li a{    
    color: black;
    text-decoration: none;
}

.dropdown{
    display:inline-block;
    position:relative;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown-content{
    display: none;
    position:absolute;
    width: 100%;
    overflow: auto;
    background-color: #d8e8eb;
    padding: 30px, 10px;
    border-bottom: solid 3px#3d403b;
    opacity: 0.9;  
}

.dropdown-content a{
    display:block;
    color:#000;
    padding:5px;
    text-decoration: none;
    font-size: 18px;
}

.logo{
    position: absolute;
    top: 4rem; 
    left: 5rem; 
    z-index: 0rem; 
    width: 10rem;
    border: solid 1px black;
}

header img{
    width: 100%;
    max-height: 420px;
    border: 2px solid #1f2950; 
}

/*-----Main ------ */

.cajaPrincipal {
    font-family: 'Roboto', sans-serif;
    color: #1f2950;
    width: 100%;
    max-height: 30%;
    max-width: 100%; 
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ef6e1e; 
    border-radius: 10px; 
    margin-bottom: 5px;
}

.titulo2{
    text-align: center;
    padding: 10px 1px 3px 1px;
    color: #1f2950;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cajaPrincipal p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.6; 
    margin: 40px 70px 40px 70px;
    font-weight: bolder;
}
.contenedorMuseos{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
        }
    
    .cajamuseo{  
        box-sizing: border-box;
        width: 300px;
        max-height: 250px;
        margin: 10px 2px 2px 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: solid black;
        border-radius:5%;
    }

    .fotoarte{
        background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/dna.jpg);
        background-size: cover;
        background-position: center;
    }

    .fotociencia{
        background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/lamparita.jpg);
        background-size: cover;
        background-position: center;
    }

    .fotohistoria{
            background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/historia.jpeg);
            background-size: cover;
            background-position: center;
    }
    
    .fototematico{
                background-image: linear-gradient(to bottom,rgb(0 0 0 / .3), rgb(0 0 0 / .5)), url(./assets/dna.jpg);
                background-size: cover;
                background-position: center;
    }


    .museos {
        color: #fff;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 22px;
    }

/*Footer*/
nav.pie{
    background-color: #a6a49b;
}

.pie ul{
    background-color: #a6a49b;
}


/*Styles Artes*/

.containerarte{

width: 100%;
height: 100%;
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-color:rgb(248, 250, 252);
padding: 10px;
color: #293466;

}

.cajaArte{

    width: 33%;
    height: 33%;
    padding: 10px;
    text-align: center;   
    border: 2px solid #ef6e1e;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.subtitulo{
    padding: 20px;
}
.cajaArte img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px; 
    border: 1px solid #293466;  
}

.cajaArte img {
    
    width: 100%;
    height: 100%;
    transition: all 750ms ease-out;
}

.cajaArte img:hover{
    transform: scale(110%);
}

.museo{

    width: 33%;
    height: 33%;
    padding: 10px;
    text-align: center;
    
}
.museo img{


    border-radius: 10px;    
}

.maps{

    display: grid;
    grid-template-columns: 33% 33% 33%;  

}

.maps h4{
    position: relative;
    grid-column-start: 2;
    
}

.maps iframe{
    position: relative;
    grid-column-start: 2;
}
/*Responsive*/
@media (max-width:800px){
    
}