
/*Barra de navegación*/
*{

    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'AR One Sans', sans-serif;

}
h1{
    font-size: 22px;
    padding-left: 12rem;
    padding-bottom: 3rem;
}
nav{
    background-color:#d8e8eb;/*;#fcf2ff;*/
    border-top: solid 2px #3d403b;
    border-bottom: solid 3px#3d403b;  
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;

}
li{
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

li a{    
    color: black;
    text-decoration: none;}

div img{
    width: 100%;
    max-height: 500px;
}